<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
      text-align: left;
    }

    form {
      margin-bottom: 30px;
    }
  </style>
</head>
<body>
  <h1>Kanto Regional Pokedex</h1>

  <!-- Search  -->
  <form method="get" action="/">
    <input type="text" name="search" placeholder="Search name/type">
    <button type="submit">Search</button>
  </form>

  <!-- Add Pokémon -->
  <h2>Add a New Pokémon</h2>
  <form method="post" action="/">
    <input name="name" placeholder="Name" required>
    <input name="weight" placeholder="Weight" type="number" required>
    <input name="hp" placeholder="HP" type="number" required>
    <input name="attack" placeholder="Attack" type="number" required>
    <input name="defense" placeholder="Defense" type="number" required>
    <input name="special_attack" placeholder="Special Attack" type="number" required>
    <input name="special_defense" placeholder="Special Defense" type="number" required>
    <input name="speed" placeholder="Speed" type="number" required>
    <input name="totalstats" placeholder="Total stats" required>
    <input name="type" placeholder="Type(s)">
    <input name="evolution_stg" placeholder="Evolution Stage" type="number">
    <button type="submit">Add Pokémon</button>
  </form>

  
  <h2>All Pokémon</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>HP</th>
        <th>Attack</th>
        <th>Defense</th>
        <th>Sp. Atk</th>
        <th>Sp. Def</th>
        <th>Speed</th>
        <th>Totalt stats</th>
        <th>Type(s)</th>
        <th>Evolution Stage</th>
        
      </tr>
    </thead>
    <tbody>
      {% for p in pokemons %}
      <tr>
        <td>{{ p[1] }}</td> <!-- name -->
        <td>{{ p[2] }}</td> <!-- weight -->
        <td>{{ p[3] }}</td> <!-- hp -->
        <td>{{ p[4] }}</td> <!-- attack -->
        <td>{{ p[5] }}</td> <!-- defense -->
        <td>{{ p[6] }}</td> <!-- special_attack -->
        <td>{{ p[7] }}</td> <!-- special_defense -->
        <td>{{ p[8] }}</td> <!-- speed -->
        <td>{{ p[9] }}</td> <!-- type1 -->
        <td>{{ p[10] }}</td> <!-- type2 -->
        <td>{{ p[11] }}</td> <!-- evolution stage -->
        <td><a href="/delete/{{ p[0] }}">🗑 Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>

